[submodule "examples/espressif/01-hello-world_arduino/components/arduino"]
	path = examples/espressif/01-hello-world_arduino/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "examples/espressif/01-hello-world_arduino_idf/components/arduino"]
	path = examples/espressif/01-hello-world_arduino_idf/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
